<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>alwaysdata</title>
    <link href="http://static.alwaysdata.com/v3/images/favicon.ico" rel="shortcut icon" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    <link href="http://static.alwaysdata.com/v3/css/common.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://static.alwaysdata.com/v3/css/new.css" rel="stylesheet" type="text/css" media="screen" />
    <!--[if !IE 7]>
        <style type="text/css">
            #global {display:table;height:100%}
        </style>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23595952-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>

    <div id="centralblock" class="shadowed radius">
        <h1><a href="http://lot49.alwaysdata.net/">{{header}}</a></h1>
        <!--p style="color:#ffffff">{{hidden_text}}</p-->
        <p style="font-size: 14px">{{text}}</p>
        <!--div id="logo">
            <a href="http://www.alwaysdata.com">
                <img src="http://static.alwaysdata.com/v3/images/alwaysdata-logo.png" alt="Logo alwaysdata" title="Logo alwaysdata" class="left" />
                <h1 id="alwaysdata" class="alone"><span>alwaysdata</span></h1>
            </a>
        </div-->

    </div>

</body>

</html>
